<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.elevin.azhand">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="ir.elevin.azhand.AppController"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name="ir.elevin.azhand.ChooseAddressActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="ir.elevin.azhand.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ir.elevin.azhand.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ir.elevin.azhand.LoginActivity"
            android:theme="@style/Dialogam" />
        <activity
            android:name="ir.elevin.azhand.UpgradeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ir.elevin.azhand.ImageViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="ir.elevin.azhand.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@style/Widget.AppCompat.SearchView.ActionBar" />
        </activity>
    </application>

</manifest>